Flask~=2.0.3
Werkzeug~=2.0.3

# App server
gunicorn~=20.1.0

# Database
PyMySQL~=1.0.2

# Flask
Flask-SQLAlchemy
Flask-Migrate

# Marshmallow & Flask
flask-smorest
marshmallow

# JWT
PyJWT

# Tests
pytest~=7.0.1
coverage~=6.3.2
